@font-face {
      font-family: "NeuzeitGro-Bol";
      src: url("https://github.com/paulo-marcondes/altnewspaper.github.io/blob/master/NeuzeitGro-Bol.eot?raw=true");
	src: url("https://github.com/paulo-marcondes/altnewspaper.github.io/blob/master/NeuzeitGro-Bol.svg?raw=true");
	src: url("https://github.com/paulo-marcondes/altnewspaper.github.io/blob/master/NeuzeitGro-Bol.ttf?raw=true");
	src: url("https://github.com/paulo-marcondes/altnewspaper.github.io/blob/master/NeuzeitGro-Bol.woff?raw=true");
    }
