@font-face {
      font-family: "NeuzeitGro-Bol";
      src: url("https://github.com/paulo-marcondes/altnewspaper.github.io/raw/master/NeuzeitGro-Bol.eot");
	src: url("https://github.com/paulo-marcondes/altnewspaper.github.io/raw/master/NeuzeitGro-Bol.svg");
	src: url("https://github.com/paulo-marcondes/altnewspaper.github.io/raw/master/NeuzeitGro-Bol.ttf");
	src: url("https://github.com/paulo-marcondes/altnewspaper.github.io/raw/master/NeuzeitGro-Bol.woff");
    }
